<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Comentario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" [icon]="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-textarea [(ngModel)]="comentario" placeholder="Escribe tu comentario aquí..." rows="6"></ion-textarea>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="comentar()">Comentar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
